.footer {
  background-color: #f8f8ff;
  color: black;
  padding: 20px;
  font-family: "Arial", sans-serif;
  .custom-link {
    text-decoration: none; // Loại bỏ gạch chân mặc định
    color: black; // Màu văn bản cho liên kết

    &:hover {
      // Khi di chuột qua liên kết
      text-decoration: underline; // Gạch chân khi di chuột qua
      color: #fbb03b; // Màu văn bản thay đổi khi di chuột qua
    }
  }

  .footer-section {
    margin-bottom: 20px;
    color: black;

    h3 {
      border-bottom: 1px solid #fbb03b;
      color: #fbb03b;
      padding-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 5px 0;
      }
    }

    .social-links {
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
        font-size: 24px;
        color: #fbb03b;

        &:hover {
          color: black;
        }
      }
    }
  }

  .footer-info {
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.5;

    .line {
      padding-top: 10px;
      color: #fbb03b;
    }

    p {
      margin: 0;
    }
  }

  .footer-certification {
    margin-top: 20px;
    text-align: center;

    img {
      max-width: 100px; // Adjust as needed
    }
  }
  .newsletter {
    display: flex;
    flex-direction: column;

    input[type="email"] {
      margin-bottom: 10px; // khoảng cách giữa input và button
      padding: 10px; // đệm cho input
      border: 1px solid #ccc; // viền cho input
      border-radius: 4px; // bo góc cho input
    }

    button[type="submit"] {
      padding: 10px 20px; // đệm cho button
      background-color: #fbb03b; // màu nền cho button
      color: white; // màu chữ cho button
      border: none; // bỏ viền cho button
      border-radius: 4px; // bo góc cho button
      cursor: pointer; // con trỏ chuột khi hover
      transition: background-color 0.3s ease; // hiệu ứng khi hover

      &:hover {
        background-color: darken(#fbb03b, 10%); // làm đậm màu nền khi hover
      }

      &:focus {
        outline: none; // bỏ đường viền khi focus
        box-shadow: 0 0 0 2px rgba(#fbb03b, 0.5); // tạo box-shadow khi focus
      }
    }
  }
}

// Responsive adjustments
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer-section {
      flex: 1;
      min-width: 200px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .footer-info {
      flex-basis: 100%;
      order: 99; // Ensure this is always at the bottom
    }
  }
}

// Additional global styles, if necessary
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

a {
  color: #61dafb;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
