.carousel {
  .slick-slide {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      line-height: 160px;
    }
  }

  // You may want to style the dots (if any) at the bottom of the carousel.
  .slick-dots li button:before {
    color: white;
  }

  .slick-dots li.slick-active button:before {
    color: #fbb03b;
  }
}

.product-section {
  justify-content: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
  }

  .product-price {
    color: #333;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .product-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    button {
      padding: 8px 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
      min-width: 90px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
    }

    .add-to-cart-btn {
      background-color: #f0f0f0;
      border: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-basis: 60%;
      white-space: nowrap; // Prevents text from wrapping
      overflow: visible; // Keeps the content within the button
      text-overflow: ellipsis; // Adds an ellipsis if the text is too long

      &:hover {
        background-color: #e6e6e6;
        border-color: #c0c0c0;
      }
    }

    .buy-now-btn {
      background-color: #fbb03b;
      border: 1px solid #fbb03b;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      white-space: nowrap; // Prevents text from wrapping
      overflow: hidden; // Keeps the content within the button
      text-overflow: ellipsis; // Adds an ellipsis if the text is too long
      flex-basis: 38%;
      &:hover {
        background-color: #c0c0c0;
        border-color: darken(#fbb03b, 10%);
      }
    }
  }

  .ant-card {
    margin-bottom: 2rem;

    .ant-card-cover img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.banner {
  width: 100%;
  overflow-x: hidden;
}

.banner-item {
  position: relative; // Needed to position the text over the image
  text-align: center; // Center the text horizontally
  background-size: cover;
  background-position: center;
  height: 500px; // Hoặc bạn có thể điều chỉnh chiều cao tùy ý
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; // Text color

  h2,
  p {
    position: relative; // Bring the text above the ::before pseudo-element
    z-index: 2; // Ensures the text is above the background image
    color: white; // Text color
    font-size: 50px;
  }
}

// Điều chỉnh Row gutter để có không gian giữa các banner
.Row {
  margin-left: -15px; // Điều chỉnh theo nhu cầu
  margin-right: -15px; // Điều chỉnh theo nhu cầu

  .Col {
    padding-left: 15px; // Điều chỉnh theo nhu cầu
    padding-right: 15px; // Điều chỉnh theo nhu cầu
  }
}

// Responsive styles for widths at or below 1200px
@media (max-width: 1200px) {
  .carousel .slick-slide img {
    // Adjust the size or hide carousel images as needed
    height: auto; // Change height to auto for better aspect ratio
    width: 100%; // Full width to avoid stretching
  }

  .product-section {
    .ant-card {
      .ant-card-cover img {
        height: auto; // Adjust height of images in cards
      }
    }

    h1 {
      font-size: 2rem; // Smaller font size for section titles
    }

    .product-actions {
      flex-direction: column; // Stack buttons vertically

      button {
        width: 100%; // Full width buttons on smaller screens
        padding: 8px 10px; // Adjust padding to fit smaller screens
      }

      .add-to-cart-btn,
      .buy-now-btn {
        font-size: 14px;
        padding: 8px 10px; // Adjust padding for smaller buttons
      }
    }
  }

  .banner-item {
    height: 300px; // Reduce the height of the banner on smaller screens

    h2,
    p {
      font-size: 36px; // Reduce the font size of text on banners
    }
  }
}
