.layout {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}

.main-content {
  flex-grow: 1; // Takes up the available space
  margin-right: 15px; // Add some space between the main content and the sidebar
}

.sidebar {
  width: 300px; // Set the sidebar width
  flex-shrink: 0; // Prevent the sidebar from shrinking
}

.product-section {
  justify-content: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
  }

  .product-price {
    color: #333;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .product-actions {
    width: 100%;
    display: flex;
    justify-content: center; // Changed to space-between to use all available space
    align-items: center;
    margin-top: 1rem;

    button {
      flex: 1; // Ensure the buttons take up equal space
      margin: 0 5px; // Add margin on both sides of the buttons
      padding: 10px 0; // Adjust padding as needed, reduced the side padding
      text-align: center;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:first-child {
        margin-right: 5px; // Adjust the right margin for the first button
      }

      &:last-child {
        margin-left: 5px; // Adjust the left margin for the second button
      }
    }

    .add-to-cart-btn,
    .buy-now-btn {
      flex-grow: 1; // Ensure that buttons grow to fill the space
      margin: 0 5px; // Adds margin to the left and right of each button
      // Other styles remain unchanged
    }
  }

  .ant-card {
    margin-bottom: 2rem;

    .ant-card-cover img {
      height: 100%;
      width: 100%;
      line-height: 160px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;

  .section-title {
    flex-grow: 1;
    text-align: center;
    margin: 0; // Remove default margins if necessary
  }

  .filter-section {
    padding-right: 20px;
    position: absolute;
    right: 0; // Position the filter section to the right
    top: 50%;
    transform: translateY(
      -50%
    ); // Center it vertically relative to the header section
  }
}
