* {
  margin: 0;
  font-family: "Afacad", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
